.pgv-stages__group {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1.25rem;
  padding: 0.5rem 0;

  .pgv-stages__heading {
    display: flex;
    font-size: var(--font-size-xs);
    color: var(--text-color-secondary);
    font-weight: 600;
    margin-bottom: 0.375rem;
    margin-top: 0;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  &:first-of-type {
    margin-top: 0;
  }
}
